body {
	height: 100%;
	color: #000;
	background: #ccc;
	#SchoolTable {
		border: 1px solid #000;
		width: 960px;
		height: 50%;
		margin: 0 auto;
		overflow-x: hidden;
		overflow-y: scroll;
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.school {
			flex-grow: 1;
			width: 30%;
			padding-left: 3%;
			h2 {
				cursor: pointer;
				text-decoration: underline;
			}
			&.selected {
				border: 1px dashed #000;
			}
		}
	}
	.services-form {
	    width: 100%;
		text-align: center;
		margin: 30px auto;
		.btn {
			width: 150px;
			height: 60px;
		}
		.filter-form {
			display: none;
		}
	}
	
}